.landing-background {
  background-image: url("../../../assets//cdo-bridge.jpg");
  background-size: cover;
  min-height: 100vh;
  position: relative;
  display: flex;
}
.overlay {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}
